
/*

LIBRO DE ESTILO

Colores
 Azul:
 Verde:  #BEDEB4;
 Amarillo: #f5f3de;
 Marron:
 background-color: red;

*/


/* CONFIGURACION PARA PANTALLA DE ORDENADOR HASTA DOS PANTALLAS DOBLES*/

.titular{
  font-family: 'roboto';
  font-weight: 800;
  color: #424242;
  
}

@media all and (max-width: 4000px){

    a {
        text-decoration: none;
        color: #555;
        font-weight: bold;
    }

    body {

   // background-color: #f5f3de; // AMARILLO
    background-color: WHITE;

    }

    header {

	color: white;
	width: 100%;
	height: 100px;
	background-color: #BEDEB4; // verde
	text-align: center;
	font-size: 30px;
	font-family: roboto;
    }

    
    nav {

	color: white;
	width: 100%;
	height: 100px;
	background-color: #BEDEB4; // verde
	text-align: center;
	font-size: 30px;
        font-family: calibri,arial;
        border-radius: 10px;
    }

    
    section {

	color: white;
	width: 100%;
	height: 400px;
	background-color: #B4dee5;
        background-color: #B4dee5;
	text-align: center;
	font-family: roboto;
}



    article{

	color: #a8876c;
	width: 100%;
	height: 400px;
	background-color: #f5f3de;
	text-align: center;
	font-family: roboto;
    }

    aside{

	color: #a8876c;
	width: 100%;
	height: 400px;
	background-color: #f5f3de;
	text-align: center;
	font-family: roboto;
    }



    .divverde{

            color: white;
            width: 100%;
            height: 200px;
            background-color: #BEDEB4;
            text-align: center;
            font-size: 50px;
            font-family: roboto;
    }




    .divazul {

            color: white;
            width: 100%;
            height: 500px;
            background-color: #B4dee5;
            text-align: center;
            font-family: roboto;
    }



    .divamarillo {

            color: #a8876c;
            width: 100%;
            height: 500px;
            background-color: #f5f3de;
            text-align: center;
            font-family: roboto;
    }
    
    /*
    #contenedor{


        background-color: white;
        width: 800px;
        height: auto;
        margin: 0px auto;
        text-align: center;
        padding: 10px;
        font-family: calibri,arial;
        border-radius: 40px;
        color: white;

    }


    #titulo{

        border: none;
        background-color: #888;
        width: 60%;
        height: auto;
        margin: 5px auto;
        font-family: calibri,arial;
        font-size: xx-large;
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        border-radius: 20px;

    }



    #imagen {
        width: 50%;
        display:block;
        margin: 5px auto;
        border-radius: 10px;
        border: 1px solid #ccc;


    }


    #uno{


        background-color: #ddd;
        width: 200px;
        margin: 20px auto;
        text-align: center;
        padding: 10px;
        font-family: calibri,arial;
        border-radius: 20px;
        display:inline-block;
        float:inside;

    }

*/





}




/*   CONFIGURACION PARA PANTALLA TABLETS O PANTALLAS PEQUEÑSAS    */



@media all and (max-width: 768px){

    a {
        text-decoration: none;
    }


    header {

	color: white;
	width: 100%;
	height: 100px;
	background-color: #BEDEB4;
	text-align: center;
	font-size: 30px;
	font-family: roboto;
}

/*
    #contenedor{


        background-color: white;
        width: 80%;
        height: auto;
        margin: 20px auto;
        text-align: center;
        padding: 5px;
        font-family: calibri,arial;
        border-radius: 10px;

    }

    #titulo{


        border: none;
        background-color: #888;
        width: 60%;
        height: auto;
        margin: 5px auto;
        font-family: calibri,arial;
        font-size: x-large;
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        border-radius: 10px;

    }

    #imagen {
        width: 50%;
        display: block;
        vertical-align: center;
        margin: 1px auto;
        vertical-align: text-bottom;
        border-radius: 10px;

    }



    #uno{

        background-color: #ddd;
        width: 200px;
        margin: 1px auto;
        text-align: center;
        padding: 10px;
        font-family: calibri,arial;
        border-radius: 10px;
        display: inline-block;
        float:inside;
        border: 1px solid #ccc;
    }

*/



}




/*   CONFIGURACION PARA PANTALLA PARA MOVILES   */





@media all and (max-width: 480px){

    a {
        text-decoration: none;
        font-size: x-large;
    }

    
    header {

	color: white;
	width: 100%;
	height: 100px;
	background-color: #BEDEB4;
	text-align: center;
	font-size: 30px;
	font-family: roboto;
    }

/*
    #imagen {
        width: 20%;
        display: inline-block;
        vertical-align: center;
        margin: 1px auto;
        vertical-align: text-bottom;
        border-radius: 10px;
        border: 1px solid #ccc;

    }

    #contenedor{


        background-color: white;
        width: 80%;
        height: auto;
        margin: 5px auto;
        text-align: center;
        padding: 1px;
        font-family: calibri,arial;
        border-radius: 5px;

    }



    #uno{

        background-color: #ddd;
        width: 60%;
        margin: 10px auto;
        text-align: center;
        padding: 5px;
        font-family: calibri,arial;
        border-radius: 10px;
        display: block;
        float:inside;

    }


    #titulo{

        border: none;
        background-color: #888;
        width: 65%;
        height: auto;
        margin: 20px auto;
        font-family: calibri,arial;
        font-size: x-large;
        font-weight: bolder;
        padding: 10px;
        text-align: center;
        border-radius: 10px;

    }
*/



}





















